/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************End of CSS reset **************************/
body {
	background: linear-gradient(to right, #6a942f, #a1e048, #6a942f);
	/* background: #383838; */
}


.panel {
	background: linear-gradient(to right, #7896AB, #A3A9AD, #A7BCC9, #A3A9AD, #7896AB);	
	position: absolute;
	width: 100%;
}

#panel-top {
	height:200px;
	top:0;
	z-index: 1;
}

.default-style {
	font-family: "Verdana", sans-serif;
	font-variant: small-caps; 
	font-weight: bold;
	text-align: center;

}

#header {
	position: relative;
	width: 400px;
	height: 100px;
	margin:  20px auto 0px auto;
	display: block;	
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 40px;
	/* box-shadow: 10px 10px 30px black inset, 0px 0px 20px black; */
	/* border: 10px outset #D5DBD5; */
	text-shadow:2px 2px 5px black;
	position: relative;
	top:30%;
	}

#header-text {
	
}

#hot {
	color:#FF2F00;
}

#cold {
	color: #1D91F0;
}

.body-panel {
	border: 10px outset #D5DBD5; 
	box-shadow: 10px 10px 30px black inset, 0px 0px 20px black;
	background: radial-gradient(#A7BCC9, #A3A9AD, #7896AB);	
	vertical-align: middle;
}

#input-panel {
	position: relative;
	margin: 0px auto 20px auto;
	width:300px;
	height: 200px;
	font-size: 80px;
	font-weight: bold;
}

#answers {
	background: rgba(0, 0, 0, 0.0);
	position: absolute;
	width: 120px;
	height: 20px;
	color: black;
	line-height: 10px;
	font-size: 14px;
	font-family: Arial;
	top: 20px;
	left: 20px;
}
	

#guesses {
	position: relative;
	margin: 50px auto 50px auto;
	width: 900px;
	height: 50px;
	background: rgba(0, 0, 0, 0.0);
	box-shadow: 0px 0px 20px black;
	background: linear-gradient(to right, #FF2F00, #39FA5D, #1D91F0);
	border: none;
}

#feedback-panel {
	width: 500px;
	height: 75px;
	margin: 20px auto 20px auto;
	font-size: 20px;
	font-style: italic;
}

input {
	background-color:rgba(0, 0, 0, 0.0);
	width: inherit;
	height: inherit;
	border: none;
	text-align: center;
	font: inherit;
}

#cover {
	background-color: #D2D6D9;
	left: 20px;
	z-index: 2
}

#button-div {
	width: 210px;
	display: block;
	margin: auto;
}

button {
	display: inline-block;
	width: 100px;
	height: 40px;
	margin: 3px auto 3px auto;
	border-radius: 10%;
}

button:hover {
	box-shadow: 0px 0px 20px black;
}

.guess {
	position: absolute;
	display: inline-block;

	border-radius: 100%;
	width:30px;
	height: 30px;
	font: 15px arial;
	line-height: 30px;
	background: rgba(0, 0, 0, 0.25);
	text-align: center;
	top: 10px;
}

.wrong {
	border: none;
	color: black;
}

.correct {
	background: black;
	border: 1px solid white;
	font-weight: bold;
	color: white;
}